<h1>Welcome#show</h1>
<p>Find me in app/views/welcome/show.html.erb</p>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Clinic</th>
      <th>Flag</th>
      <th>Rating</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @clinics.each do |clinic| %>
      <tr>
        <th scope="row">#<%= clinic.id %></th>
        <td><img src="<%= clinic.image %>" width="450" heigth="250" /></td>
        <td><%= clinic.name %></td>
        <td><%= clinic.flag %></td>
        <td><%= clinic.rating %></td>
        <td><%= clinic.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

